.wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.container_input {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 530px;
  border: 1px solid rgba(225, 232, 237, 1);
  border-radius: 30px;
  padding: 10px 15px;
  background-color: rgba(245, 248, 250, 1);
}

.image {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  color: rgba(20, 23, 26, 1);
  background-color: transparent;
}

.input::placeholder {
  color: rgba(101, 119, 134, 1);
}

.gallare_change {
  display: none;
}

.container_change {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
}

.imageLabel {
  cursor: pointer;
  display: inline-block;
}

.imageSelected {
  background-color: rgb(133, 228, 134);
  border-radius: 50%;
  padding: 5px;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.btn {
  width: 90px;
  height: 36px;
  background-color: rgba(29, 155, 240, 1);
  color: rgba(255, 255, 255);
  border: none;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgba(29, 155, 240, 0.9);
}

[data-theme='dark'] .container_input {
  background-color: rgb(197, 196, 196);
}
[data-theme='dark'] .btn {
  background-color: rgb(11, 92, 146);
}
