.container {
  display: grid;
  grid-template-columns: 360px 2fr 240px;
  gap: 20px;
  padding: 20px;
}

.navigation {
  grid-column: 1;
}

.profile {
  grid-column: 2;
}

.search {
  grid-column: 3;
}

.bigline {
  max-width: 830px;
}

@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 0px 1fr 10px;
    gap: 10px;
    padding: 0px;
  }
  .search {
    grid-column: 2;
    margin-bottom: 150px;
  }
  .bigline {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 0px 1fr 10px;
    gap: 0px;
    padding: 0px;
  }

  .search {
    grid-column: 2;
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile {
    margin-left: 10px;
    grid-column: 2;
    order: 2;
  }

  .navigation {
    grid-column: 2;
    order: 3;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 0px 1fr 10px;
    gap: 0px;
    padding: 0px;
  }

  .search {
    grid-column: 2;
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile {
    margin-left: 10px;
    grid-column: 2;
    order: 2;
  }

  .navigation {
    grid-column: 2;
    order: 3;
  }
}
