.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.wrap {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: -15px;
}

.arrow {
  cursor: pointer;
  transition: transform 0.3s ease;
  padding-right: 0;
}

.arrow:hover {
  transform: translateX(5px);
}

.title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 0;
}

@media (max-width: 480px) {
  .wrapper {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
