.tweetList {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.tweet {
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.tweetHeader {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.avatar_container {
  width: 49px;
  height: 49px;
}
.avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.userName {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.userNickname {
  color: #888;
  margin-right: auto;
}

.timestamp {
  color: #888;
}

.tweet img {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.tweet p {
  margin: 0;
  margin-bottom: 10px;
}

.more_container {
  margin-left: auto;
  display: flex;
  align-items: start;
  width: 20px;
}
.more {
  width: 20px;
}
